<header>
    <h1>
        {{{title}}}
        <img class='icon icons8-Batman' style='vertical-align: middle;' width='26' height='26' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAB0UlEQVRIS+3V8U0WQRAF8EcF0oGxAqUCtQLtQKgArECsQKlA7UA70ArADqACsALI77KTjOcSzJcv319McrnL7uy8N29m5/ayI9vbEU4egTZW+iHpXiR5k8R7P8mrFdLPJDdJLpL8GO8pmRmQgMdJDpP8TiKYQB5Bu/FFwoOE95ckZ2vfNdBJEs/XAfAuWRoGKHs71n3zOx3rn5M8SfJtAPL/NAAXlw4kOIYOfWgyvW7Bvw8pnf3VfGRyPkAp8H6QuE5y1IGAME6YACzrZOy/HBsdyNJtO0NiBGVt/UgQ2pLAYrHqdXiW5HIseD+dkEAM+27ADkYZTgGRg1yAdNjaZEsK+yTtZk/hq3nWZ9WMzwkgyBj11Cd4Gy3pVFnddCCAOmebVnVcgEo6rUuCbdrH0WCLdNUM3lJ9PpC0pSzVRqf9mWRca1ftTrmwzGXX9jp1aQamYGqk6L41RW9rWcu4DpKY9ogtxW6TwBpDXJOxw/WFFUAmnGSDzdoEBVjTou/XOEJMZjJe/O4bQdN5NSLWfJuRqDmJrGwqo+mPjzPWmLjANVRpPhuqalpDtS4ogL98/+c3UbVBoMZPyaV96zdBrqrPP3o/BLS1Vn8E2ljKnUl3BzUjbtsgiRoeAAAAAElFTkSuQmCC'>
    </h1>
    {{> nav}}
</header>